
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/decision-tree.iml
__pycache__/CART.cpython-37.pyc
.vs/decision-tree/v16/.suo
/Solutions
/Datasets/p54.txt
/Datasets/p53.txt
/Datasets/p52.txt
/Datasets/p51.txt
/Datasets/p50.txt
/Datasets/p43.txt
/Datasets/p40.txt
/Datasets/p39.txt
/Datasets/p28.txt
